upstreams = [
"http://127.0.0.1:4567/" ]

# Email Domains to allow authentication for (this authorizes any email on this domain). To authorize any email addresses use "*"
pass_user_headers = true

email_domains = ["netpress.com"]

# The OAuth Client ID, Secret
client_id = "99999999999999999999999999999999999999999999.apps.googleusercontent.com"
client_secret = "999999--99999-999999999999999999999"

#Cookie Settings
cookie_secret = "9999999999_99999999999=="
# cookie_domain = ""
# cookie_expire = "168h"
# cookie_refresh = ""
# cookie_secure = true
# cookie_httponly = true
